@inject NavigationManager Navigation

<div class="package-card" @onclick="NavigateToPackage">
    <div class="package-card-header">
        <h3 class="package-card-title">@Package.DisplayName</h3>
        <span class="package-card-code">@Package.Code</span>
    </div>
    <div class="package-card-author">
        <i class="fas fa-user"></i> @Package.Author.DisplayName
    </div>
    <p class="package-card-description">@Package.Description</p>

    <CoverageBar Coverage="@Package.Coverage" />

    <div class="package-card-footer">
        <div class="package-card-stats">
            <span><i class="fas fa-download"></i> @Package.Downloads</span>
            <span><i class="fas fa-language"></i> @Package.TranslationCount keys</span>
        </div>
        <span>v@Package.Version</span>
    </div>
</div>

@code {
    [Parameter]
    public LanguagePackage Package { get; set; } = null!;

    private void NavigateToPackage()
    {
        Navigation.NavigateTo($"/package/{Package.Code}");
    }
}
